:root {
    --buttonSair: red;
    --buttonVoltar:  gold;
    --buttonVoltarBordar: goldenrod;
    --body:rgba(119, 136, 153, 0.219);
    --inputSelct:  hsl(240, 75%, 98%);
    --borderInpSelc:  hsl(240, 80%, 84%);

  }