@charset "UTF-8";
@import "coresGlobais.css";


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color:var(--body);
    font-family: Arial, Helvetica, sans-serif;
}
main{
    max-width: 100%;
    padding: 22px;
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: row;
}
section{
    background-color: white;
    padding: 30px;
    width: 900px;
    height: auto;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.096);
    border-radius: 5px;
}

section h1{
    text-align: center;
    margin: 20px 0px;
}

section hr{
    display: block;
    margin: auto;
    width: 50%;
    background-color: hsla(0, 0%, 0%, 0.116);
    border: none;
    height: 2px;
}
section img{
    width: 250px;
}
.sair{
    float: right;
    display: flex;
}

.sair button{
    width: 55px;
    background-color: var(--buttonSair);
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
}
.sair button:first-child{
    background-color:var(--buttonVoltar);
    color: black;
    border: 1px solid var(--buttonVoltarBordar);
}

.sair button:hover{
   opacity: 0.8;
}
    
section p{
    margin-top: 40px;
    font-size: 19px;
}

.info{
    display: flex;
    flex-wrap: wrap;
}
.info p{
    margin-right: 20px;
}
p strong{
    margin-right: 5px;
}

a{
    text-decoration: none;
}

section > a >button{
    display: block;
    margin: auto;
    width: auto;
    margin-top: 20px;
    background-color: green;
    color: white;
    font-size: 17px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

/* Media Query */

@media screen and (max-width:550px){
    section{
        padding: 20px;
    }
    section img{
        width: 200px;
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }
    section .sair{
        justify-content: center;
        align-items: center;
        float: none;
    }
    .sair button{
        margin: 0px;
        margin-left: 20px;
    }
    section h1{
        margin-top: 20px;
    }
}
@media screen and (max-height: 720px){
    main{
        height: auto;
    }
}