@charset "UTF-8";
@import "coresGlobais.css";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--body);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}
/* Main */
main{
    display: block;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    padding: 30px;
    max-width: 90%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.096);
    border-radius: 5px;
    height: auto;
}

main h1{
    text-align: center;
    margin: 20px 0px;
}

main hr{
    display: block;
    margin: auto;
    width: 50%;
    background-color: hsla(0, 0%, 0%, 0.116);
    border: none;
    height: 2px;
}
main img{
    width: 250px;
}

main #sair{
    float: right;
    width: 50px;
    background-color: var(--buttonSair);
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

main #sair:hover{
    background-color:rgb(36, 36, 36);
}

/* Nav */

nav{
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
}
ul li{
    margin-right: 5%;
    margin-top: 20px;
}
ul li:last-child{
    margin-right: 0px;
}
ul button{
    cursor: pointer;
    padding: 10px;
    width: auto;
    border: none;
    background-color:rgb(100, 100, 100);
    border-radius: 10px;
    font-size: 16px;
    color: white;
}
ul button:hover{
    opacity: 0.8;;
}
/* Filtros */
fieldset{
    margin-top: 30px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    padding: 0px 20px ;
    padding-bottom: 25px;
    border-radius: 10px;
    width: auto;
}

.filtro, .filtro > div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.filtro  div{
    width: auto;
}


.filtro div:nth-child(1){
    justify-content: flex-end;
    width: 100%;
    
}

.filtro div:nth-child(2){
    justify-content: flex-start;
    width: 60%;
    margin-left: 20px;
}
.filtro div:nth-child(1) select, .filtro div:nth-child(2) select,  .filtro div:nth-child(2) input[type="number"]{
    background-color:var(--inputSelct);
    border: 1px solid  var(--borderInpSelc);
    border-radius: 5px;
    padding: 5px;
    margin-right: 20px;
}
.filtro div:nth-child(1) select:nth-child(2){
    width: 80%;
    margin-right: 0px;
}
.filtro div:nth-child(2) input[type="number"]{
    width: 100px;
}
.filtro label{
    margin-right: 5px;
}

.filtro input[type="submit"]{
    cursor: pointer;
    padding:6px;
    width: 60px;
    border: none;
    background-color:green;
    color: white;
    border-radius: 5px;
    font-size: 17px;
    
}
/* Tabela */

div#container{
    margin-top: 30px;
    height: 550px;
    overflow-x: auto;
    overflow-y: auto;

}
table{
    margin: auto;
    margin-top: 50px;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
}
caption{
    
    font-size: 1.3em;
    font-weight: bold;
}
td, th{
    border: 1px solid black;
    padding: 10px;
}
thead,tbody  tr:nth-child(even){
    background-color: lightgray;
}
thead > tr > th{
    position: sticky;
    top: -1px;
    color: white;
    background-color: #383838;
}

td button{
    cursor: pointer;
    padding: 10px;
    width: 60px;
    border: 1px solid goldenrod;
    background-color: gold;
    border-radius: 10px;
}
#situacao{
    background-color:rgb(100, 100, 100);
    width: 100px;
    color: white;
    border: none;
    cursor: initial;
}
td button:hover{
    background-color:  goldenrod;
}
/* Media Query */

@media screen and (max-width:1500px){
    .filtro div:nth-child(2){
        width: 100%;
        margin-left: 0px;
        justify-content: center;
    }
}
@media screen   and (max-width:1000px){
    table{
        width: 700px;
    }
}
@media screen and (max-width:700px){

    main img{
        width: 200px;
    }
}

/* Media Query */
@media screen and (max-width:1150px){
    .filtro{
        flex-direction: column;
    }
    .filtro div:nth-child(2){
        justify-content: flex-start;
    }
    h1{
        font-size: 33px;
    }
    main img{
        width: 200px;
    }
    .filtro div:nth-child(1) {
        justify-content: flex-start;
        
    }
}

@media screen   and (max-width:1000px){
    table{
        width: 700px;
    }
}


@media screen and (max-width:780px){

    ul button{
        font-size: 15px;        
    }
    h1{
        font-size: 30px;
    }
}
@media screen and (max-width:650px){
    h1{
        font-size: 25px;
    }
    
.filtro div:nth-child(2){
   flex-wrap: wrap;
}
.filtro  div:nth-child(2) input[type="submit"]{
    display: block;
    margin: auto;
    margin-top: 10px;
}
}
@media screen and (max-width:570px){
    .filtro div:nth-child(2) select{
        width: 82%;
        margin-right: 0px;
    }
    .filtro div:nth-child(2) input[type="number"]{
        width: 53%;
        margin-right: 0px;
    }

    .filtro div:nth-child(2) input[type="submit"]{
        margin-top: 20px;
    }
    .filtro  div:nth-child(3){
        margin-top: 20px;
    }
    .filtro div:nth-child(2){
        padding-left: 1%;
    }
    nav ul{
        flex-wrap: wrap;
    }
    nav li{
        margin-top: 20px;
    }
}
    
