@charset "UTF-8";
@import "coresGlobais.css";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--body);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
/* Main */
main{
    margin-top: 20px;
    background-color: white;
    padding: 30px;
    width: 70%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.096);
    border-radius: 5px;
}

main h1{
    text-align: center;
    margin: 20px 0px;
}

main hr{
    display: block;
    margin: auto;
    width: 50%;
    background-color: hsla(0, 0%, 0%, 0.116);
    border: none;
    height: 2px;
}
main img{
    width: 250px;
}

main #sair{
    float: right;
    width: 50px;
    background-color: var(--buttonSair);
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

main #sair:hover{
    background-color:rgb(36, 36, 36);
}


/* Tabela */

div#container{
    margin-top: 30px;
    height: 550px;
    overflow-x: auto;
    overflow-y: auto;

}
table{
    margin: auto;
    margin-top: 50px;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
}
caption{
    
    font-size: 1.3em;
    font-weight: bold;
}
td, th{
    border: 1px solid black;
    padding: 10px;
}
thead,tbody  tr:nth-child(even){
    background-color: lightgray;
}
thead > tr > th{
    position: sticky;
    top: -1px;
    color: white;
    background-color: #383838;
}

td button{
    cursor: pointer;
    padding: 10px;
    width: 60px;
    border: 1px solid goldenrod;
    background-color: gold;
    border-radius: 10px;
}
#situacao{
    background-color:rgb(100, 100, 100);
    width: 100px;
    color: white;
    border: none;
    cursor: initial;
}
td button:hover{
    background-color:  goldenrod;
}
/* Media Query */

@media screen   and (max-width:1000px){
    table{
        width: 700px;
    }
}
@media screen and (max-width:700px){

    main img{
        width: 200px;
    }
}

/* Media Query */
@media screen and (max-width:1150px){
    h1{
        font-size: 33px;
    }
    main img{
        width: 200px;
    }
    main{
        width: 90%;
    }
}
@media screen and (max-height:770px){
    body{
        height: auto;
    }
}

@media screen   and (max-width:1000px){
    table{
        width: 700px;
    }
}
@media screen and (max-width:780px){

    ul button{
        font-size: 15px;        
    }
    h1{
        font-size: 30px;
    }
}
@media screen and (max-width:650px){
    h1{
        font-size: 25px;
    }
    
}
